
.columnr{
    position: absolute;
    top: -50;
    width: 350;
}

.columnl{
    position: absolute;
    right: 0;
    top: -27;
    width: 350;
}

.candle{
    width: 300;
    position: absolute;
    top: 1950;
    left: 180;
}

.candle2{
    width: 300;
    position: absolute;
    top: 1950;
    right: 180;
}

.iglesia{
    position: absolute;
    right: 640;
    top: 780;
    width: 170;
}